.card {
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  margin-top: 60px;
  margin-left: 450px;
}
.card h3{
  text-align: center;
}
input{
  width: 100%;
  margin: 5px 0;
  border: 1px solid black;
  height: 32px;
  border-radius: 4px;
}
button{
  width: 100%;
  margin: 5px 0;
  border: 1px solid black;
  height: 35px;
  border-radius: 8px;

}
.btn{
  width: 100%;
  margin: 5px 0;
  border: 1px solid black;
  height: 35px;
  border-radius: 8px;
}
.btn:hover{
   background-color: rgb(57, 54, 54);
  color: white;
}
button:hover{
  background-color: rgb(57, 54, 54);
  color: white;
}
